<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

        <title>dashboard</title>
</head>


<body>
<div class="container">
<!-- NAV SECTION -->
<!-- contains navigation links and (potentially serch bar) -->
    <div class="nav">
        <!-- <div id="search_container">
            <input class="search" type="search" name="Search" id="placeholder">
            <button><input class="search_btn" type="submit" value="search"/>
            </button>
        </div> -->

    <table>
    <tr>
        <td><th> Welcome {{session['mickeys_first_name']}}  </th></td>
        <td>
    </tr>
    </table>
    <table>
    <tr>
        <td><th><a class="a" href='/logout'>Log Out</a></th>
        </td><td> I </td>
        <td><th><a class="a" href='/dashboard'>Back To Main DashBoard</a></th>
        </td>
    </tr>
    </table>


    </div>
<!-- END NAVOGATION -->

<!-- MAIN SECTION -->
<div class="main">


<!-- WELCOME BAR -->
    <table class="wall_table">
        <th>Modify My Wish by {{session['mickeys_first_name']}}</th>
        <th><a class="a"  href='/logout'>Log Out</a></th>
        <th><a class="a" href='/dashboard'>Dashboard</a></th>
       
    </table>
  
<!-- #END OF WELCOME BAR -->


<!-- UPDATE BOOK BOX -->
<!-- NEW BOOK BOX -->

    <div class="form_content_box">
        <form action="/update_wish/{{wish[0]['id_wish']}}" method="post">
            <br></br>
        <form_header>Update Wish</form_header>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                            <p class="messages">{{message}}</p> 
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <br></br>
        <label>Title</label>
        
                <input class="input" type="text" value="{{wish[0]['wish_name']}}"name="w_name" placeholder="Insert Wish Name"/>
                <!-- <input class="input" type="hidden" name="" placeholder="Insert Wish Name"/>
                    <br></br>    -->
        
        <br></br><label>Description</label>
                <input class="input" type="text" value=" {{wish[0]['wish_name']}} " name="w_content" placeholder="Insert Wish Content"/>
                    <br></br>
                <input class="btn" type="submit" value="Update"/>
        </form>
        
    </div>
<!-- END WISH BOX -->

<!-- SHOW ALL WISHES -->
        <div class ="books_table">
            <br></br>
            <h1>Show Update Here</h1>
           
            <br></br>
            <table>
            <tr><td><a class="a" href='/dashboard'>BACK TO WISHES</a></td></tr>
            <br></br>
            <tr><td>
            <a class="a" href='/delete/{{wish[0]['id_wish']}}'</a>Delete</td></tr>
            </table>
            <table>
            
            <tr>
                <td><b>Wish Name:</b>{{wish[0]['wish_name']}} 
                <a class="a"  href='/edit/{{wish['id_wish']}}'></td>
        
            <tr>
                <td><b>Wish Content:</b> {{wish[0]['wish_content']}}</td>
            </tr>
            <tr>
                <td><b>Updated by: </b>{{wish[0]['first_name']}}{{wish[0]['last_name']}}<br></br></td>
            </tr>
            <tr><td>
            <hr></td>
            </tr>
            </table>
            
<!-- END SHOWING BOOKS -->
    </div>
<!-- END MAIN CONTAINER -->
    </div>
<!-- END CONTAINER -->
</body>
</html>